.page-header {
  @include pxRem(padding, 5);
  background: map-get($colors, black);
  color: map-get($colors , white );
  margin-bottom: 40px;
  text-align: center;
  .header-logo{
    margin: 5px;
    .logo{
      font-size: 30px;
      animation: identifier 5s infinite ;
    }
    @keyframes identifier {
      0%{
        transform: rotate(0deg);
      }
      50%{
        transform: rotate(180deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
  }
  li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
  }
  a{
    color: map-get($colors , white );
  }
  .menu-list{
    position: absolute;
    left: 10%;
  }
  
}
